pymatgen==2020.9.14
numpy==1.19.2
pandas==1.1.2
xgboost==1.2.0
matplotlib==3.3.2
scipy==1.5.2
scikit-learn==0.23.2
requests==2.24.0
tqdm==4.49.0
openpyxl==3.0.5
xlrd==1.2.0
seaborn==0.11.0
shap==0.36.0